  .roulette-wheel-inner[data-spintoindex='0']::before {
    transform: rotateZ(-2819deg);
  }
  .roulette-wheel-inner[data-spintoindex='1']::before {
    transform: rotateZ(-2810deg);
  }
  .roulette-wheel-inner[data-spintoindex='2']::before {
    transform: rotateZ(-2801deg);
  }
  .roulette-wheel-inner[data-spintoindex='3']::before {
    transform: rotateZ(-2792deg);
  }
  .roulette-wheel-inner[data-spintoindex='4']::before {
    transform: rotateZ(-2783deg);
  }
  .roulette-wheel-inner[data-spintoindex='5']::before {
    transform: rotateZ(-2774deg);
  }
  .roulette-wheel-inner[data-spintoindex='6']::before {
    transform: rotateZ(-2764deg); /* chngd */
  }
  .roulette-wheel-inner[data-spintoindex='7']::before {
    transform: rotateZ(-2754deg);
  }
  .roulette-wheel-inner[data-spintoindex='8']::before {
    transform: rotateZ(-2737deg);
  }
  .roulette-wheel-inner[data-spintoindex='9']::before {
    transform: rotateZ(-2734deg);
  }
  .roulette-wheel-inner[data-spintoindex='10']::before {
    transform: rotateZ(-2724deg);
  }
  .roulette-wheel-inner[data-spintoindex='11']::before {
    transform: rotateZ(-2715deg);
  }
  .roulette-wheel-inner[data-spintoindex='12']::before {
    transform: rotateZ(-2705deg);
  }
  .roulette-wheel-inner[data-spintoindex='13']::before {
    transform: rotateZ(-2695deg);
  }
  .roulette-wheel-inner[data-spintoindex='14']::before {
    transform: rotateZ(-2685deg);
  }
  .roulette-wheel-inner[data-spintoindex='15']::before {
    transform: rotateZ(-2670deg);
  }
  .roulette-wheel-inner[data-spintoindex='16']::before {
    transform: rotateZ(-2665deg);
  }
  .roulette-wheel-inner[data-spintoindex='17']::before {
    transform: rotateZ(-2655deg);
  }
  .roulette-wheel-inner[data-spintoindex='18']::before {
    transform: rotateZ(-2645deg);
  }
  .roulette-wheel-inner[data-spintoindex='19']::before {
    transform: rotateZ(-2635deg);
  }
  .roulette-wheel-inner[data-spintoindex='20']::before {
    transform: rotateZ(-2621deg);
  }
  .roulette-wheel-inner[data-spintoindex='21']::before {
    transform: rotateZ(-2615deg);
  }
  .roulette-wheel-inner[data-spintoindex='22']::before {
    transform: rotateZ(-2605deg);
  }
  .roulette-wheel-inner[data-spintoindex='23']::before {
    transform: rotateZ(-2595deg);
  }
  .roulette-wheel-inner[data-spintoindex='24']::before {
    transform: rotateZ(-2585deg);
  }
  .roulette-wheel-inner[data-spintoindex='25']::before {
    transform: rotateZ(-2575deg);
  }
  .roulette-wheel-inner[data-spintoindex='26']::before {
    transform: rotateZ(-2565deg);
  }
  .roulette-wheel-inner[data-spintoindex='27']::before {
    transform: rotateZ(-2557deg); /* chngd */
  }
  .roulette-wheel-inner[data-spintoindex='28']::before {
    transform: rotateZ(-2548deg);
  }
  .roulette-wheel-inner[data-spintoindex='29']::before {
    transform: rotateZ(-2539deg);
  }
  .roulette-wheel-inner[data-spintoindex='30']::before {
    transform: rotateZ(-2530deg);
  }
  .roulette-wheel-inner[data-spintoindex='31']::before {
    transform: rotateZ(-2521deg);
  }
  .roulette-wheel-inner[data-spintoindex='32']::before {
    transform: rotateZ(-2512deg);
  }
  .roulette-wheel-inner[data-spintoindex='33']::before {
    transform: rotateZ(-2503deg);
  }
  .roulette-wheel-inner[data-spintoindex='34']::before {
    transform: rotateZ(-2494deg);
  }
  .roulette-wheel-inner[data-spintoindex='35']::before {
    transform: rotateZ(-2485deg);
  }
  .roulette-wheel-inner[data-spintoindex='36']::before {
    transform: rotateZ(-2477deg); /* chngd */
  }
  .roulette-wheel-inner[data-spintoindex='37']::before {
    transform: rotateZ(-2468deg);
  }